.header {
    color: rgb(26, 253, 241);
    overflow: auto;
}
.header ul {
    overflow: hidden;
    display: flex;
    background-color: brown;
    align-items: center;
    justify-items: center;
    list-style-type: none;
    margin: 0;
    
}
.header li {
    flex-direction: row;
    flex-wrap: nowrap;

    margin-right: 20px;
}